.features{
  flex: 1;
  overflow-y: auto;
  padding: 30px;
  .item{
    width: 690px;
    height: 216px;
    margin-bottom: 30px;
    a{
      display: block;
    
    img{
      width: 100%;
      height: 100%;
    }
    }
  }
}
