.container{
    position: relative;
    .head{
        position: fixed;
        top: 0;
        background:#fff;
        width: 100%;
    }
    .icon{
        font-size: 22px;
    }
}
.search{
    width: 690px;
    height: 62px;
    margin: 0 auto;
    margin-top: 12px;
    position: relative;
    
    .el-input__inner{
        width: 690px;
        height: 62px;
        background: #F0F0F0;
        border-radius: 36px;
        padding-left: 65px;
        font-size: 30px;
        color:#BFBFBF;
   

    }
    .el-icon-search{
        position: absolute;
        left: 26px;
        top: 16px;
        font-size: 30px;
        color:#BFBFBF;
        z-index: 99;
    }
    .el-input__clear{
        position: absolute;
        right: 26px;
        top: 0;
    }
}

.nav{
    width: 100%;
    height: 110px;
    overflow-x: scroll;
    position: fixed;
    .el-menu--horizontal{
        width: 800px;
        .el-menu-item{
            width: 160px;
            height: 100px;
            line-height: 100px;
            text-align: center;
            font-size: 34px;
        }
    }
}
.nav::-webkit-scrollbar {
    display: none;
}

.main{
    margin-top: 184px;
    

      
    .item-one{
        width: 688px;
        height: 405px;
        margin: 42px auto 0 auto;

    h2{
        font-size: 36px;
        color:#343434
    }
    p{
        font-size: 26px;
        color:#979CAF;
        margin: 30px 0 20px 0;
    }
    .img{
        width: 688px;
        height: 190px;
        img{
            width: 229px;
            height: 190px;
        }
    }
    .icon{
        margin-top: 28px;
        color:#9DABC1;
        span{
            margin-right: 16px;
            i{
                margin-right: 8px;
            }
        }
       
    }
    }
    .item-two,.item-four{
        background:#F7F7F7;
        margin: 0 auto;
        padding-top: 20px;
 
    a{
        display: block;
        background: #fff;
        padding:0 0 34px 30px;
        
        h2{
            font-size: 36px;
            color:#343434;
            padding: 44px 0 24px 0;
        }
        .img{
            img{
                width: 220px;
                height: 160px;
                margin-right: 15px;
            }
            }
            .icon{
                margin-top: 28px;
                color:#9DABC1;
                span{
                    margin-right: 16px;
                    i{
                        margin-right: 8px;
                    }
                }
               
            }
        }
    }
    .item-three{
        background:#F7F7F7;
        margin: 0 auto;
        padding-top: 20px;
 
    a{
        display: block;
        background: #fff;
        padding:0 0 34px 30px;
        div{
           height:104px;
           line-height: 104px;
    
        h2{
            font-size: 32px;
            color:#343434;
        }
        span{
            color:#ABAFB9;
            font-size: 32px;
            i{
                margin-right: 24px;
                color:#DADADA;
                
            }
        }
    }
      img{
                width: 690px;
                height: 216px;
                margin-right: 15px;
            }
        }
    }
}