.basis,.insurance,.claims{
    .icon{
        margin-top: 28px;
        color:#9DABC1;
        margin-right: 30px;
        span{
            margin-right: 16px;
            i{
                margin-right: 8px;
            }
        }
       
    }
    .item-two,.item-four{
        padding: 0;
    }
    .item-one{
        .icon{
            margin-right: 0;
        }
    }
    span{
        display: inline-block;
        border-radius: 2rem;
        background: #eaedf5;
        height: 32px;
        padding: 4px 10px;
    }
    p{
            width: 690px;
            font-size: 26px;
            color:#979CAF;
            margin: 17px 0 27px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: center;
    }
    .item{
        border-top: .6px solid #eaedf5;
        margin:0 30px 18px 30px;
        .c-l{
            width: 450px;
        }
        h2{
            font-size: 36px;
            color:#343434;
            margin-top: 35px;
            height: 92px;
            
        }
        p{
            width: 416px;
            font-size: 26px;
            color:#979CAF;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        img{
            margin-top: 35px;
            width: 200px;
            height: 146px;
        }
    }
}