.mine-container {
    display: flex;
    height: 100%;
    flex-direction: column;

    .my-header {
        display: flex;
        margin: 0 4.4vw;
        justify-content: space-between;

        .my-icon-setting {
            display: block;
            width: 88px;
            height: 88px;
            background: url(../../src/assets/mine/setting.png) no-repeat left center;
            background-size: 40px 40px;
        }

        .header-name {
            font-size: 36px;
            line-height: 88px;
            color: #333333;
        }

        .my-icon-news {
            display: block;
            width: 88px;
            height: 88px;
            background: url(../../src/assets/mine/news.png) no-repeat right center;
            background-size: 40px 40px;
        }

        /* span:nth-child(3) {
            color: rgb(102, 102, 102);
            font-size: 28px;
            position: absolute;
            right: 31px;
            top: 27px;

        } */
    }

    .mine-content {
        flex: 1;
        overflow-y: auto;

        .login-reg {
            margin: 4.4vw 4.4vw 0 4.4vw;
            width: 91.2vw;
            height: 30.9333vw;
            background: url(../../src/assets/mine/bg-img.png) 0 0 no-repeat;
            background-size: 100% 100%;
            overflow: hidden;

            .head-img {
                float: left;
                display: block;
                width: 15.4667vw;
                height: 15.4667vw;
                border-radius: 50%;
                margin-left: 5.2vw;
                margin-right: 5.2vw;
                margin-top: 6.6667vw;

                img {
                    display: block;
                    width: 15.4667vw;
                    height: 15.4667vw;
                    border-radius: 50%;
                }
            }

            .login {
                display: inline-block;
                color: white;
                font-size: 4.8vw;
                float: left;
                margin-top: 12.1333vw;
                margin-left: 4.1333vw;
            }

            .user-name {
                height: 48px;
                margin-bottom: 26px;
                color: #fff;
                font-size: 36px;
                margin-top: 60px;
                margin-left: 10px;

                .logout {
                    a {
                        font-size: 18px;
                    }
                }
            }

            .login-text {
                float: left;
                height: 100%;
            }
        }

        .domain {
            display: flex;
            justify-content: space-around;
            margin: 3.2vw 0;

            a {


                .domain-icon {
                    display: flex;
                    flex-direction: column;

                    img {
                        height: 6.6667vw;
                        margin-bottom: 2.4vw;
                    }
                }

                span {
                    color: #000;
                    font-size: 3.3333vw;
                    line-height: 3.3333vw;
                }
            }
        }


        .service {
            .member-title {
                padding: 0 39px;
                line-height: 34px;
                font-weight: 700;
                margin: 13px 0 28px 0;

                h2 {
                    font-size: 34px;
                }
            }

            .member-item {
                border-top: 1px solid #f4f4f4;
                display: grid;
                grid-template-columns: repeat(3, 248px);
                grid-template-rows: repeat(1, 180px);
                overflow: hidden;

                a {
                    border-bottom: 1px solid #f4f4f4;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-right: 1px solid #f4f4f4;

                    img {
                        height: 50px;
                        margin-bottom: 30px;
                    }

                    span {
                        color: #000;
                        font-size: 3.3333vw;
                        line-height: 3.3333vw;
                    }
                }

                a:nth-child(3n) {

                    border-right: 0;
                }

            }
        }

        .commonly {
            .member-item {
                border-top: 1px solid #f4f4f4;
                /* border-bottom: 1px solid #f4f4f4; */
                display: grid;
                grid-template-columns: repeat(3, 248px);
                grid-template-rows: repeat(3, 180px);
                overflow: hidden;

                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    img {
                        height: 50px;
                        margin-bottom: 30px;
                    }

                    span {
                        color: #000;
                        font-size: 3.3333vw;
                        line-height: 3.3333vw;
                    }
                }

                a:nth-child(2) {
                    border-left: 1px solid #f4f4f4;
                    border-right: 1px solid #f4f4f4;
                }

            }
        }
    }
}